# Dev phase: dev | prod
DEV_PHASE=dev
# E.g. secrets.token_urlsafe(64)
JWT_SECRET_KEY="change this"
# Postgres host
POSTGRES_HOST=localhost
# Postgres port
POSTGRES_PORT=5432
# Postgres database name
POSTGRES_DB=postgres
# Postgres user
POSTGRES_USER=postgres
# Postgres password
POSTGRES_PASSWORD=postgres
