alembic==1.8.1
alembic[tz]
bcrypt==4.0.1
fastapi==0.99.0
uvicorn==0.22.0
SQLAlchemy==2.0.17
psycopg2==2.9.6
pydantic==1.10.10
starlette==0.27.0
fastapi-pagination==0.12.5
python-dotenv==1.0.0
passlib==1.7.4
PyJWT==2.8.0
kubernetes==26.1.0
httpx==0.25.0
pytest==7.4.2
pytest-mock==3.11.1
loguru==0.4.1
ldap3==2.9
pandas==2.2.2
python-multipart==0.0.9
fastapi-events==0.11.1
git+https://github.com/helxplatform/eduhelx-utils.git
