# Workflow responsible for the 
# major release processes.
#

name: Build-Push-Release
on:
  push:
    branches:
      - master
      - master-v1
      - ghactions
    paths-ignore:
      - README.md
      # - .github/*
      # - .github/workflows/*
      - LICENSE
      - .gitignore
      - .dockerignore
      - .githooks
    tags-ignore:
      - 'v[0-9]+.[0-9]+.*'
      - '*'
jobs:
  build-push-release:
    uses: helxplatform/helx-github-actions/.github/workflows/build-push-release.yml@main
    secrets: inherit